<h2>here is a form to add a new cryptid</h2>

<form action="/cryptids" method="POST">
    <label for="cryptid-img_url">IMG url:</label>
    <input type="text" name="pic" id="cryptid-img_url">

    <label for="cryptid-name">Name:</label>
    <input type="text" name="name" id="cryptid-name">
    <input type="submit" value="add that cryptid">
</form>